<h1 class="page-header">Add Student<small> <span ng-bind="schoolyear.title"></span> school year</small></h1>
<form role="form">
  <div class="form-group">
    <label>School Year</label>
    <input ng-model="schoolyear.title" type="text" class="form-control" readonly>
  </div>
  <div class="form-group">
    <label>Student ID</label>
    <input ng-model="student.id" type="text" class="form-control" readonly>
  </div>
  <div class="form-group">
    <label>First Name</label>
    <input ng-model="student.firstname" type="text" class="form-control" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <label>Last Name</label>
    <input ng-model="student.lastname" type="text" class="form-control" placeholder="Enter last name">
  </div>
  <button type="submit" class="btn btn-default" ng-click="edit()"><i class="fa fa-fw fa-plus-circle"></i> Save</button>
</form>

<br><br><br>
<a href="#/browse" class="btn btn-default btn-sm"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>