<h1 class="page-header">Record Grades 
    <small>{{standard.title}} ({{schoolyear.title}})</small>
    <a href="#/schoolyear/{{schoolyear.id}}/editstandard/{{standard.id}}" class="pull-right">
        <i class="fa fa-edit"></i>
    </a>
</h1>

<div class="row">
    <div class="col-sm-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Grade</th>
                    <th>Date Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in roster">
                    <td>{{student.firstname}} {{student.lastname}}</td>
                    <td><input type="text" class="form-control" placeholder="Enter m, p, or nm" ng-model="student.rating"></td>
                    <td>{{student.date_updated}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<button class="btn btn-default" ng-click="recordStandardGrades()">Save Grades</button>

<br><br>
<a href="#/browse/schoolyear/{{schoolyear.id}}" class="btn btn-default btn-sm"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>