<h1 class="page-header">Add Standard <small>for <span ng-bind="schoolyear.title"></span> school year</small></h1>
<form role="form">
  <div class="form-group">
    <label>School Year</label>
    <input ng-model="schoolyear.title" type="text" class="form-control" readonly>
  </div>
  <div class="form-group">
    <label>Title</label>
    <input ng-model="standard.title" type="text" class="form-control" placeholder="Enter title">
  </div>
  <div class="form-group">
    <label>Date Given</label>
    <input ng-model="standard.date_given" type="text" class="form-control" placeholder="Enter date given">
  </div>
  <button type="submit" class="btn btn-default" ng-click="add()"><i class="fa fa-fw fa-plus-circle"></i> Save</button>
</form>

<br><br><br>
<a href="#/browse" class="btn btn-default btn-sm"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>