html, body, #wrapper, #page-wrapper {
	width: 100% !important;
    max-width: 100% !important;
}

#alert-container {
	display: none;
	width: 100%;
	position: fixed;
	bottom: 0;
	pointer-events: none;
}