<h1 class="page-header">
    <a href="#/browse"><i class="fa fa-arrow-circle-left"></i></a>
    <span ng-bind="schoolyear.title"></span> <small>School Year</small>
    <a href="#/schoolyear/edit/{{schoolyear.id}}" class="pull-right">
        <i class="fa fa-edit"></i>
    </a>
</h1>

<div class="row">
	<div class="col-sm-8">
		<h3>Standards <a href="#/browse/schoolyear/{{schoolyear.id}}/addstandard"><i class="fa fa-fw fa-plus-circle"></i></a></h3>
		<table class="table table-hover">
			<thead>
				<tr>
					<th ng-click="orderByField='title'; reverseSort = !reverseSort">
						Title
						<span ng-show="orderByField == 'title'">
							<span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span>
							<span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
						</span>
					</th>
					<th ng-click="orderByField='date_given'; reverseSort = !reverseSort">
						Date Given
						<span ng-show="orderByField == 'date_given'">
							<span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span>
							<span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
						</span>
					</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="standard in standards | orderBy:orderByField:reverseSort">
					<td>{{ standard.title }}</td>
					<td>{{ standard.date_given | date:'MMM dd, yyyy' }}</td>
					<td>
                        <a href="#/browse/schoolyear/{{schoolyear.id}}/recordgrades/{{standard.id}}">Record Grades</a>&nbsp;
                        <a href="#/browse/schoolyear/{{schoolyear.id}}/editstandard/{{standard.id}}">Edit</a>
                    </td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-4">
		<div class="panel panel-primary">
		 	<div class="panel-heading">
		    	<h3 class="panel-title">Quarters</h3>
			</div>
		  	<div class="panel-body">
		    	<table class="table table-hover">
		    		<caption><a href="#/browse/schoolyear/{{schoolyear.id}}/addquarter"><i class="fa fa-fw fa-plus-circle"></i> Add</a></caption>
		    		<tbody>
						<tr ng-repeat="quarter in quarters">
							<td>{{ quarter.title }}</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		</div>
		<div class="panel panel-primary">
		 	<div class="panel-heading">
		    	<h3 class="panel-title">Student Roster</h3>
			</div>
		  	<div class="panel-body">
		    	<table class="table table-hover">
		    		<caption><a href="#/browse/schoolyear/{{schoolyear.id}}/addstudent"><i class="fa fa-fw fa-plus-circle"></i> Add</a></caption>
		    		<tbody>
                        
                        
						<tr ng-repeat="student in roster">
							<td ng-if="student.status == 'enabled'">
								<i class="fa fa-user" style="color: HSLA(208, 56%, 46%, 1);"></i> {{ student.lastname }}, {{ student.firstname }}&nbsp;
								<a href="#/browse/schoolyear/{{schoolyear.id}}/editstudent/{{student.id}}">Edit</a>
							</td>
                            <td ng-if="student.status == 'disabled'">
								<i class="fa fa-user" style="color: hsla(256, 0%, 58%, 1);"></i> {{ student.lastname }}, {{ student.firstname }}&nbsp;
								<a href="#/browse/schoolyear/{{schoolyear.id}}/editstudent/{{student.id}}">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		</div>
	</div>
</div>

<br><br>
<a href="#/browse" class="btn btn-default btn-sm"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>