<h1 class="page-header">Browse <small>School Years</small></h1>
<a href="#/schoolyear/add" class="btn btn-primary" style="margin-bottom: 10px;"><i class="fa fa-fw fa-plus-square"></i> Add</a>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">School Years</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li ng-repeat="schoolYear in schoolYears" class="list-group-item">
                {{ schoolYear.title }}&nbsp;
                <a href="#/browse/schoolyear/{{ schoolYear.id }}">Browse</a>&nbsp;
                <a href="#/schoolyear/edit/{{ schoolYear.id }}">Edit</a>&nbsp;
            </li>
        </ul>
    </div>
</div>