<h1 class="page-header">Edit <small>School Year</small></h1>
<form role="form">
  <div class="form-group">
    <label>ID</label>
    <input ng-model="id" type="text" class="form-control" placeholder="ID Number" readonly>
  </div>
  <div class="form-group">
    <label>Title</label>
    <input ng-model="title" type="text" class="form-control" placeholder="Enter title">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="edit()"><i class="fa fa-fw fa-plus-square"></i> Add</button>
</form>


<br><br>
<a href="#/browse" class="btn btn-default"><i class="fa fa-fw fa-close"></i> Cancel</a>
