<div class="row">
    <div class="col-sm-9">
        <h1 class="page-header">Browse <small>School Years</small></h1>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <caption>
                        <a href="#/schoolyear/add" style="margin-bottom: 10px;"><i class="fa fa-fw fa-plus-circle"></i> Add</a>
                    </caption>
                    <thead>
                        <th>Year</th>
                        <th>Students</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schoolYear in schoolYears">
                            <td><a href="#/browse/schoolyear/{{ schoolYear.id }}">{{ schoolYear.title }}</a></td>
                            <td>{{ schoolYear.num_students }} students</td>
                            <td>
                                <a href="#/browse/schoolyear/{{ schoolYear.id }}">Browse</a>&nbsp;
                                <a href="#/schoolyear/edit/{{ schoolYear.id }}">Edit</a>&nbsp;
                                <a href="#/">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div ng-include="'partials/navbar-quickaccess.html'"></div>
    </div>
</div>