<h1 class="page-header">Edit <small>School Year</small></h1>

<div class="row">
  <div class="col-sm-6">
      <form role="form">
        <div class="form-group">
          <label>ID</label>
          <input ng-model="schoolYear.id" type="text" class="form-control" placeholder="ID Number" readonly>
        </div>
        <div class="form-group">
          <label>Title</label>
          <input ng-model="schoolYear.title" type="text" class="form-control" placeholder="Enter title">
        </div>
        <div class="form-group">
          <label><strong>Quarter 1</strong></label>
          <div class="row">
            <div class="col-sm-6">
              <label>Start</label>
              <input ng-model="schoolYear.q1_start" type="text" class="form-control" placeholder="Enter title">
            </div>
            <div class="col-sm-6">
              <label>End</label>
              <input ng-model="schoolYear.q1_end" type="text" class="form-control" placeholder="Enter title">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><strong>Quarter 2</strong></label>
          <div class="row">
            <div class="col-sm-6">
              <label>Start</label>
              <input ng-model="schoolYear.q2_start" type="text" class="form-control" placeholder="Enter title">
            </div>
            <div class="col-sm-6">
              <label>End</label>
              <input ng-model="schoolYear.q2_end" type="text" class="form-control" placeholder="Enter title">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><strong>Quarter 3</strong></label>
          <div class="row">
            <div class="col-sm-6">
              <label>Start</label>
              <input ng-model="schoolYear.q3_start" type="text" class="form-control" placeholder="Enter title">
            </div>
            <div class="col-sm-6">
              <label>End</label>
              <input ng-model="schoolYear.q3_end" type="text" class="form-control" placeholder="Enter title">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label><strong>Quarter 4</strong></label>
          <div class="row">
            <div class="col-sm-6">
              <label>Start</label>
              <input ng-model="schoolYear.q4_start" type="text" class="form-control" placeholder="Enter title">
            </div>
            <div class="col-sm-6">
              <label>End</label>
              <input ng-model="schoolYear.q4_end" type="text" class="form-control" placeholder="Enter title">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="edit()"><i class="fa fa-fw fa-plus-circle"></i> Save</button>
      </form>
  </div>
  <div class="col-sm-6">

  </div>
</div>




<br><br><br>
<a href="#/browse/schoolyear/{{id}}" class="btn btn-default btn-sm">
    <i class="fa fa-fw fa-chevron-circle-left"></i>&nbsp;
    Back
</a>