<div class="row">
    <div class="col-sm-4">
        <div ng-include="'partials/navbar-quickaccess.html'"></div>
    </div>
    <div class="col-sm-8">
        <h1 class="page-header">Browse <small>School Years</small></h1>
        <div class="row">
            <div class="col-sm-12">
                <table class="table">
                    <caption>
                        <a href="#/schoolyear/add" style="margin-bottom: 10px;" class="pull-left"><i class="fa fa-fw fa-plus-circle"></i> Add</a>
                    </caption>
                    <thead>
                        <th>Year</th>
                        <th>Students</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="schoolYear in schoolYears">
                            <td><a href="#/browse/schoolyear/{{ schoolYear.id }}">{{ schoolYear.title }}</a></td>
                            <td>{{ schoolYear.num_students }} students</td>
                            <td>
                                <a href="#/browse/schoolyear/{{ schoolYear.id }}"><i class="fa fa-th"></i>&nbsp;Browse</a>&nbsp;&nbsp;
                                <a href="printable.php?id={{schoolYear.id}}" target="_blank"><i class="fa fa-table"></i>&nbsp;Print</a>&nbsp;&nbsp;
                                <a href="#/schoolyear/edit/{{ schoolYear.id }}"><i class="fa fa-edit"></i>&nbsp;Edit</a>&nbsp;&nbsp;
                                <a href="#/"><i class="fa fa-remove"></i>&nbsp;Delete</a>&nbsp;
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>