<h1 class="page-header">School Year <small ng-bind="schoolyear.title"></small></h1>

<div class="row">
	<div class="col-sm-6">
		<h3>Standards </h3>
		<table class="table table-hover">
			<caption>
			<a href="#/browse/schoolyear/{{schoolyear.id}}/addstandard"><i class="fa fa-fw fa-plus-circle"></i> Add</a>
			</caption>
			<thead>
				<tr>
					<th ng-click="orderByField='title'; reverseSort = !reverseSort">
						Title
						<span ng-show="orderByField == 'title'">
							<span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span>
							<span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
						</span>
					</th>
					<th ng-click="orderByField='date_given'; reverseSort = !reverseSort">
						Date Given
						<span ng-show="orderByField == 'date_given'">
							<span ng-show="!reverseSort"><i class="fa fa-sort-asc"></i></span>
							<span ng-show="reverseSort"><i class="fa fa-sort-desc"></i></span>
						</span>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="standard in standards | orderBy:orderByField:reverseSort">
					<td>{{ standard.title }}</td>
					<td>{{ standard.date_given | date:'MMM dd, yyyy' }}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-6">
		<div class="panel panel-primary">
		 	<div class="panel-heading">
		    	<h3 class="panel-title">Quarters</h3>
			</div>
		  	<div class="panel-body">
		    	<table class="table table-hover">
		    		<caption><a href="#/browse/schoolyear/{{schoolyear.id}}/addquarter"><i class="fa fa-fw fa-plus-circle"></i> Add</a></caption>
		    		<tbody>
						<tr ng-repeat="quarter in quarters">
							<td>{{ quarter.title }}</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		</div>
		<div class="panel panel-primary">
		 	<div class="panel-heading">
		    	<h3 class="panel-title">Student Roster</h3>
			</div>
		  	<div class="panel-body">
		    	<table class="table table-hover">
		    		<caption><a href="#/browse/schoolyear/{{schoolyear.id}}/addstudent"><i class="fa fa-fw fa-plus-circle"></i> Add</a></caption>
		    		<tbody>
						<tr ng-repeat="student in roster">
							<td>
								{{ student.lastname }}, {{ student.firstname }}&nbsp;
								<a href="#/browse/schoolyear/{{schoolyear.id}}/editstudent/{{student.id}}">Edit</a>
							</td>
						</tr>
					</tbody>
				</table>
		  	</div>
		</div>
	</div>
</div>

<br><br>
<a href="#/browse" class="btn btn-default btn-sm"><i class="fa fa-fw fa-chevron-circle-left"></i> Back</a>